{% extends 'upload/base.html' %}
{% block title %}MusicApp | Add New Track{% endblock %}
{% block folder_active %}active{% endblock %}

{% block navigation %}
    <div class="container-fluid">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default" style="background: transparent">
                <div class="panel-body">
                        <a href="{% url 'upload:detail' genre.id %}">
                            {% if genre.genre_image %}
                                <img src="{{ genre.genre_image.url }}" class="img-responsive">
                            {% else %}
                                <h3>No image to display</h3>
                            {% endif %}
                        </a>
                    <h3>{{ genre.genre_name }}</h3>
                    <h5><small>{{ genre.about_file }}</small></h5>
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-2 col-md-4">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation"><a href="{% url 'upload:detail' genre.id %}">View All</a></li>
                <li role="presentation" class="active"><a href="{% url 'upload:file_add' genre.id %}">Add New Track</a></li>
            </ul>

            <div class="panel panel-default" style="background: transparent; border: transparent">
                <div class="panel-body">
                    <h3>Add a New Track</h3>
                    {% if error_message %}
                        <p><strong><font color="#dc143c">{{ error_message }}</font></strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" id="genre" name="genre" value="{{ genre }}">
                        {% include 'upload/form-template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

</div>
{% endblock %}